<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/static/js/defaultCode.js" charset="utf-8"></script>
<script src="/static/js/util.js" charset="utf-8"></script>
<script src="/static/js/main.js" charset="utf-8"></script>
<script src="/static/js/nav.js" charset="utf-8"></script>
<script src="/static/js/settings.js" charset="utf-8"></script>
<!--<script src="/static/js/sizeof.js" charset="utf-8"></script>
<script src="/static/js/auth.js" charset="utf-8"></script>-->

{{ template "alerts.tmpl" .  }}
