<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}
        <title>Playground</title>
        <link rel="stylesheet" href="/static/css/index.css" charset="utf-8">
        <link rel="stylesheet" href="/static/css/sizeof.css" charset="utf-8">
        <link rel="icon" type="image/png" href="/static/img/gopher2.png">
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" >Playground</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a class="click" id="run">Run</a></li>
                        <li><a class="click" id="format">Format</a></li>
                        <li>
                            <div class="checkbox navcheck">
                                <input type="checkbox" id="import" checked><span>Import</span>
                            </div>
                        </li>
                        <li><a class="click" id="export">Export</a></li>
                        <li><a class="click" id="share">Share</a></li>
                        <li><a class="click" id="resetCode">Reset</a></li>
                        <li><a class="click" id="favorites" data-toggle="modal" data-target="#favoriteModal">Favorites</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a id="flipTrigger" href="#">Size Of</a></li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- navbar -->

        <!-- content -->
        <div class="container-fluid">
            <div class="row">
                <div id="left" class="col-md-9 col-xs-12 right-touch">

                    <!-- editor -->
                    <div id="editor" style="height:450px;">{{ if .code }}{{ .code }}{{  else }}package main

import "fmt"

func main() {
&#09;fmt.Println("Hello, custom playground")
}
{{ end }}</div>
                    <!-- editor -->

                    <!-- output -->
                    <div id="output" class="output">
                        <div id="controls">
                            <a id="expand" class="btn control">Expand</a>
                            <a id="collapse" class="btn hide control">Collapse</a>
                        </div>
                        <pre id="outpre"></pre>
                    </div>
                    <!-- output -->

                </div>
                <div id="right" class="col-md-3 col-xs-12">

                    <!-- flipper -->
                    <div id="flipper" class="flip-container">
                        <div class="flipper">

                            <!-- sizeof -->
                            <div class="panel panel-default sizeof back">
                                <div class="panel-heading clearfix">
                                    Sizeof
                                    <button id="getSize" class="btn btn-xs btn-primary pull-right">Get Size</button>
                                </div>
                                <div id="sizeofResults" class="panel-body results">
                                    <div class="bs-callout bs-callout-info">
                                        <h4>Use</h4>
                                        <p>
                                            Highlight the section of code you
                                            would like to check the size of.
                                            Then press the "Get Size" button above
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- sizeof -->

                            <!-- settings -->
                            <div class="panel panel-default front">
                                <div class="panel-heading">
                                    Settings
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>Theme</label>
                                        <select class="form-control" id="theme">
                                            {{ range $theme := .themes }}
                                                <option value="ace/theme/{{ $theme }}">{{ pretty $theme }}</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Font Size</label>
                                        <input class="form-control" type="number" id="fontSize">
                                    </div>
                                    <div class="form-group">
                                        <label>Keybindings</label>
                                        <select id="keybindings" class="form-control">
                                            <option value="ace">Ace</option>
                                            <option value="vim">Vim</option>
                                            <option value="emacs">Emacs</option>
                                        </select>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="formatOnRun"> Format on Run
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>Saved Code</label>
                                        <div class="radio" style="margin-top:0;">
                                            <label>
                                                <input type="radio" name="load" id="ask" value="ask" checked>
                                                Always Ask
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="load" id="load" value="load">
                                                Always Load
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Go Version</label>
                                        <select id="version" class="form-control">
                                            {{ range $version := .versions}}
                                                <option value="{{ $version }}">{{ $version }}</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                    <div>
                                        <button id="reset" class="btn btn-danger btn-sm btn-block">Reset</button>
                                    </div>
                                </div>
                            </div>
                            <!-- settings -->

                        </div>
                    </div>
                    <!-- flipper -->

                </div>
            </div>
        </div>
        <!-- content -->

        <!-- export link (needs to be hidden) -->
        <a class="hide" id="hiddenExport">GET</a>
        <!-- export link -->

        <!-- load modal -->
        <div class="modal fade" id="loadModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Load</h4>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Your have previous saved code. Would you like to load it?</h4>
                        <button id="loadYes" class="btn btn-sm btn-success">Yes</button>
                        <button id="loadNo" class="btn btn-sm btn-danger">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- load modal -->

        <!-- favorites modal -->
        <div class="modal fade" id="favoriteModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Favorites</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-6">
                                <div class="input-group">
                                    <input id="favoriteName" type="text" class="form-control" placeholder="Name">
                                    <span class="input-group-btn">
                                        <button id="addFavorite" class="btn btn-default" type="button">Add</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="favoriteLinks" class="col-lg-offset-1 col-lg-10">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- favorites modal -->

        <!-- tips modal -->
        <div class="modal fade" id="tipsModal" tabindex="-1" role="dialog" aria-labelledby="tipsModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="tipsModalTitle">Tips</h4>
                    </div>
                    <div id="tipsModalBody" class="modal-body clearfix">
                        <div class="col-lg-8 col-lg-offset-2">
                            <table class="tips">
                                <tbody>
                                    <tr><td class="text-left">Enter+Shift</td><td class="text-left">&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</td><td>Run the code. This will also format the code if format on run is selected.</td></tr>
                                    <tr><td class="text-left">Enter+Ctrl</td><td class="text-left">&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</td><td>Format the code.</td></tr>
                                    <tr><td class="text-left">Ctrl+F</td><td class="text-left">&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</td><td>Find one or all occurances of the given string.</td></tr>
                                    <tr><td class="text-left">Ctrl+R</td><td class="text-left">&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</td><td>Find and Replace one or all occurances of the given string.</td></tr>
                                    <tr><td class="text-left">Ctrl+Shift+S</td><td class="text-left">&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</td><td>Get the size of the select code. Only works on types.</td></tr>
                                    <tr><td class="text-left">Favorites</td><td class="text-left">&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</td><td>Add a favorite to quickly return to code. You can have 10 favorites. Add a new favorite with the same name to update.</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tips modal -->

        {{ template "scripts.tmpl" . }}

        <script>

            $(document).ready(function() {

                // get 1/4 height
                var heightQuart = Math.floor((window.innerHeight - 80) / 4);

                // check if not a shared link in golang
                {{ if not .loaded }}
                    // set saved code
                    if (settings.code !== '' && settings.code !== undefined && settings.code !== editor.getValue()) {
                        if (settings.editor.load !== 'load') {
                            $('#loadModal').modal({backdrop: 'static', keyboard: false});

                            $('#loadYes').click(function() {
                                editor.setValue(settings.code, 1);
                                $('#loadModal').modal('hide');
                            });

                            $('#loadNo').click(function() {
                                settings.code = '';
                                saveSettings(settings);
                                $('#loadModal').modal('hide');
                            });
                        } else {
                            editor.setValue(settings.code, 1);
                        }
                    }
                {{ end }}

                // set output height
                $('#editor').css('height', (heightQuart * 3) + 'px');
                $('#outpre').css('height', heightQuart + 'px');

                // register expand click
                $('#expand').click(function() {
                    $('#editor').animate({height:(heightQuart) + 'px'});
                    $('#outpre').animate({height:(heightQuart * 3) + 'px'});
                    $('#expand').addClass('hide');
                    $('#collapse').removeClass('hide');
                });

                // register tips click
                $('#collapse').click(function() {
                    $('#editor').animate({height:(heightQuart * 3) + 'px'});
                    $('#outpre').animate({height:(heightQuart) + 'px'});
                    $('#collapse').addClass('hide');
                    $('#expand').removeClass('hide');
                });

                $(document).on('click', 'button.remove-favorite', function() {
                    var s = $(this).attr('data-idx');
                    if (s === '' || s=== undefined) {
                        $('#outpre').css('color', 'orangered');
                        $('#outpre').text('Error removing favorite. Please try again.');
                        $('#favoriteModal').modal('hide');
                        return
                    }
                    var idx =+ s;
                    if (idx >= settings.favorites.length) {
                        $('#outpre').css('color', 'orangered');
                        $('#outpre').text('Error removing favorite. Please try again.');
                        $('#favoriteModal').modal('hide');
                        return
                    }
                    settings.favorites.splice(idx, 1);
                    saveSettings(settings);
                    displayFavorites();
                });
            });


        </script>
    </body>
</html>
