<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}
        <title>Playground</title>
        <link rel="stylesheet" href="/static/css/index.css" charset="utf-8">
        <link rel="icon" type="image/png" href="/static/img/gopher2.png">
    </head>
    <body>

        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" >Playground</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a class="click" id="run">Run</a></li>
                        <li><a class="click" id="format">Format</a></li>
                        <li>
                            <div class="checkbox navcheck">
                                <input type="checkbox" id="import" checked><span>Import</span>
                            </div>
                        </li>
                        <li><a class="click" id="export">Export</a></li>
                        <li><a class="click" id="share">Share</a></li>
                    </ul>

                    <!-- <ul class="nav navbar-nav navbar-right">
                        <li><a href="">Tips <i class="fa fa-question"></i></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul> -->

                </div>

            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 col-xs-12">
                    <div id="editor" style="height:450px;">{{ if .code }}{{ .code }}{{  else }}package main

import "fmt"

func main() {
&#09;fmt.Println("Hello, custom playground")
}
{{ end }}</div>
                    <div id="output" class="output">
                        <div id="controls">
                            <a id="expand" class="btn control">Expand</a>
                            <a id="collapse" class="btn hide control">Collapse</a>
                        </div>
                        <pre id="outpre"></pre>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Settings
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Theme</label>
                                <select class="form-control" id="theme">
                                    {{ range $theme := .themes }}
                                        <option value="ace/theme/{{ $theme }}">{{ pretty $theme }}</option>
                                    {{ end }}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Font Size</label>
                                <input class="form-control" type="number" id="fontSize">
                            </div>
                            <div class="form-group">
                                <label>Keybindings</label>
                                <select id="keybindings" class="form-control">
                                    <option value="ace">Ace</option>
                                    <option value="vim">Vim</option>
                                    <option value="emacs">Emacs</option>
                                </select>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="formatOnRun"> Format on Run
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Saved Code</label>
                                <div class="radio" style="margin-top:0;">
                                    <label>
                                        <input type="radio" name="load" id="ask" value="ask" checked>
                                        Always Ask
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="load" id="load" value="load">
                                        Always Load
                                    </label>
                                </div>
                            </div>
                            <div>
                                <button id="reset" class="btn btn-danger btn-sm btn-block">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <a class="hide" id="hiddenExport">GET</a>

        <div class="modal fade" id="loadModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Load</h4>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Your have previous saved code. Would you like to load it?</h4>
                        <button id="loadYes" class="btn btn-sm btn-success">Yes</button>
                        <button id="loadNo" class="btn btn-sm btn-danger">No</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="tipsModal" tabindex="-1" role="dialog" aria-labelledby="tipsModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="tipsModalTitle">Tips</h4>
                    </div>
                    <div id="tipsModalBody" class="modal-body clearfix">
                        <div class="col-lg-8 col-lg-offset-2">
                            <table class="tips">
                                <tbody>
                                    <tr><td class="text-left">Enter+Shift</td><td class="text-left">&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</td><td>Run the code. This will also format the code if format on run is selected.</td></tr>
                                    <tr><td class="text-left">Enter+Ctrl</td><td class="text-left">&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</td><td>Format the code.</td></tr>
                                    <tr><td class="text-left">Ctrl+F</td><td class="text-left">&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</td><td>Find one or all occurances of the given string.</td></tr>
                                    <tr><td class="text-left">Ctrl+R</td><td class="text-left">&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</td><td>Find and Replace one or all occurances of the given string.</td></tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {{ template "scripts.tmpl" . }}

        <script>


            $(document).ready(function() {

                var heightQuart = Math.floor((window.innerHeight - 80) / 4);

                {{ if not .loaded }}
                    if (settings.code !== '' && settings.code !== undefined && settings.code !== editor.getValue()) {
                        if (settings.editor.load !== 'load') {
                            $('#loadModal').modal({backdrop: 'static', keyboard: false});

                            $('#loadYes').click(function() {
                                editor.setValue(settings.code, 1);
                                $('#loadModal').modal('hide');
                            });

                            $('#loadNo').click(function() {
                                settings.code = '';
                                saveSettings(settings);
                                $('#loadModal').modal('hide');
                            });
                        } else {
                            editor.setValue(settings.code, 1);
                        }
                    }
                {{ end }}

                $('#editor').css('height', (heightQuart * 3) + 'px');
                $('#outpre').css('height', heightQuart + 'px');

                $('#expand').click(function() {
                    $('#editor').animate({height:(heightQuart) + 'px'});
                    $('#outpre').animate({height:(heightQuart * 3) + 'px'});
                    $('#expand').addClass('hide');
                    $('#collapse').removeClass('hide');
                });

                $('#collapse').click(function() {
                    $('#editor').animate({height:(heightQuart * 3) + 'px'});
                    $('#outpre').animate({height:(heightQuart) + 'px'});
                    $('#collapse').addClass('hide');
                    $('#expand').removeClass('hide');
                });

            });

        </script>
    </body>
</html>
