<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}
        <title>Playground</title>
        <link rel="stylesheet" href="/static/css/index.css" charset="utf-8">
        <link rel="icon" type="image/png" href="/static/img/gopher2.png">
    </head>
    <body>

        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" >Playground</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a class="click" id="run">Run</a></li>
                        <li><a class="click" id="format">Format</a></li>
                        <li>
                            <div class="checkbox navcheck">
                                <input type="checkbox" id="import" checked><span>Import</span>
                            </div>
                        </li>
                        <li><a class="click" id="export">Export</a></li>
                        <li><a class="click" id="share">Share</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10">
                    <div id="editor" style="height:450px;">{{ if .code }}{{ .code }}{{  else }}package main

import "fmt"

func main() {
&#09;fmt.Println("Hello, custom playground")
}
{{ end }}</div>
                    <div id="output" class="output">
                        <div id="controls">
                            <a id="expand" class="btn control">Expand</a>
                            <a id="collapse" class="btn hide control">Collapse</a>
                        </div>
                        <pre id="outpre"></pre>
                    </div>
                </div>
                <div class="col-sm-2" style="padding-left:0">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Settings
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Theme</label>
                                <select class="form-control" id="theme">
                                    {{ range $theme := .themes }}
                                        <option value="ace/theme/{{ $theme }}">{{ pretty $theme }}</option>
                                    {{ end }}
                                    <!-- <option value="ace/theme/ambiance">ambiance</option>
                                    <option value="ace/theme/chaos">chaos</option>
                                    <option value="ace/theme/chrome">chrome</option>
                                    <option value="ace/theme/clouds">clouds</option>
                                    <option value="ace/theme/clouds_midnight">clouds_midnight</option>
                                    <option value="ace/theme/cobalt">cobalt</option>
                                    <option value="ace/theme/crimson_editor">crimson_editor</option>
                                    <option value="ace/theme/dawn">dawn</option>
                                    <option value="ace/theme/dreamweaver">dreamweaver</option>
                                    <option value="ace/theme/eclipse">eclipse</option>
                                    <option value="ace/theme/github">github</option>
                                    <option value="ace/theme/idle_fingers">idle_fingers</option>
                                    <option value="ace/theme/iplastic">iplastic</option>
                                    <option value="ace/theme/katzenmilch">katzenmilch</option>
                                    <option value="ace/theme/kr_theme">kr_theme</option>
                                    <option value="ace/theme/kuroir">kuroir</option>
                                    <option value="ace/theme/merbivore">merbivore</option>
                                    <option value="ace/theme/merbivore_soft">merbivore_soft</option>
                                    <option value="ace/theme/mono_industrial">mono_industrial</option>
                                    <option value="ace/theme/monokai">monokai</option>
                                    <option value="ace/theme/pastel_on_dark">pastel_on_dark</option>
                                    <option value="ace/theme/solarized_dark">solarized_dark</option>
                                    <option value="ace/theme/solarized_light">solarized_light</option>
                                    <option value="ace/theme/sqlserver">sqlserver</option>
                                    <option value="ace/theme/terminal">terminal</option>
                                    <option value="ace/theme/textmate">textmate</option>
                                    <option value="ace/theme/tomorrow">tomorrow</option>
                                    <option value="ace/theme/tomorrow_night">tomorrow_night</option>
                                    <option value="ace/theme/tomorrow_night_blue">tomorrow_night_blue</option>
                                    <option value="ace/theme/tomorrow_night_bright">tomorrow_night_bright</option>
                                    <option value="ace/theme/tomorrow_night_eighties">tomorrow_night_eighties</option>
                                    <option value="ace/theme/twilight">twilight</option>
                                    <option value="ace/theme/vibrant_ink">vibrant_ink</option>
                                    <option value="ace/theme/xcode">xcode</option> -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Font Size</label>
                                <input class="form-control" type="number" id="fontSize">
                            </div>
                            <div class="form-group">
                                <label>Keybindings</label>
                                <select id="keybindings" class="form-control">
                                    <option value="ace">Ace</option>
                                    <option value="vim">Vim</option>
                                    <option value="emacs">Emacs</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Saved Code</label>
                                <div class="radio" style="margin-top:0;">
                                    <label>
                                        <input type="radio" name="load" id="ask" value="ask" checked>
                                        Always Ask
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="load" id="load" value="load">
                                        Always Load
                                    </label>
                                </div>
                            </div>
                            <div>
                                <button id="reset" class="btn btn-danger btn-sm btn-block">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <a class="hide" id="hiddenExport">GET</a>

        <div class="modal fade" id="loadModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Load</h4>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Your have previous saved code. Would you like to load it?</h4>
                        <button id="loadYes" class="btn btn-sm btn-success">Yes</button>
                        <button id="loadNo" class="btn btn-sm btn-danger">No</button>
                    </div>
                </div>
            </div>
        </div>

        {{ template "scripts.tmpl" . }}

        <script>

            //var originalBindings = editor.getKeyboardHandler();

            $('#run').click(function() {
                editor.getSession().clearAnnotations();
                $('#outpre').css('color', '');
                $('#outpre').text('Processing');
                var doc = editor.getValue();
                settings.code = doc;
                saveSettings(settings);
                if (doc !== '') {
                    $.ajax({
                        url: '/run',
                        method: 'POST',
                        data: {
                            dat: doc
                        },
                        success: function(resp) {
                            console.log('ajax success');
                            if (!resp.error) {
                                $('#outpre').css('color', '');
                            } else {
                                $('#outpre').css('color', 'orangered');
                                markLines(resp.output);
                            }
                            $('#outpre').text(resp.output);
                        },
                        error: function() {
                            console.log('ajax error');
                            $('#outpre').css('color', 'orangered');
                            $('#outpre').text('Server error. Please try again.');
                        }
                    })
                }
            });

            $('#format').click(function() {
                editor.getSession().clearAnnotations();
                $('#outpre').text('Processing');
                $('#outpre').css('color', '');
                var doc = editor.getValue();
                settings.code = doc;
                saveSettings(settings);
                if (doc !== '') {
                    $.ajax({
                        url: '/format',
                        method: 'POST',
                        data: {
                            dat: doc,
                            imp: (document.getElementById("import").checked ? 'true' : 'false')
                        },
                        success: function(resp) {
                            console.log('ajax success');
                            console.log(resp);
                            if (!resp.error) {
                                inputChanged();
                                editor.setValue(resp.output, 1);
                                settings.code = resp.output;
                                saveSettings(settings);
                                $('#outpre').text('Formated');
                                return
                            }
                            $('#outpre').css('color', 'orangered');
                            $('#outpre').text(resp.output);
                        },
                        error: function() {
                            console.log('ajax error');
                            $('#outpre').css('color', 'orangered');
                            $('#outpre').text('Server error. Please try again.');
                        }
                    })
                }
                $('#outpre').text('');
            });

            $('#export').click(function() {
                var blob = new Blob([editor.getValue()], {type : 'text/plain'});
                $('a#hiddenExport').attr('href', window.URL.createObjectURL(blob));
                $('a#hiddenExport').attr('download', 'main.go');
                $('a#hiddenExport')[0].click();
            });

            $('#share').click(function() {
                $('#outpre').css('color', '');
                $('#outpre').text('');
                var doc = editor.getValue();
                settings.code = doc;
                saveSettings(settings);
                if (doc !== '') {
                    $.ajax({
                        url: '/share',
                        method: 'POST',
                        data: {
                            dat: doc
                        },
                        success: function(resp) {
                            console.log('ajax success');
                            if (resp.error) {
                                $('#outpre').css('color', 'orangered');
                                $('#outpre').text(resp.output);
                                return
                            }
                            var hd = {"code": editor.getValue()}
                            path = "/" + resp.output;
                            //var url = origin(window.location) + path;
                            //shareURL.show().val(url).focus().select();
                            window.history.pushState(hd, "", path);
                        },
                        error: function() {
                            console.log('ajax error');
                            $('#outpre').css('color', 'orangered');
                            $('#outpre').text('Server error. Please try again.');
                        }
                    })
                }
            });

            function markLines(output) {
                var outputList = output.split('\n');
                var annotations = [];
                for (var i = 0; i < outputList.length; i++) {
                    if (outputList[i] !== '') {
                        var lineList = outputList[i].split(':');
                        var lineNum =+ lineList[0].replace('Line ', '');
                        var msg = lineList.slice(1, lineList.length).join(':');
                        annotations.push(
                            {
                                row: (lineNum - 1),
                                column: 0,
                                text: msg,
                                type: "error"
                            }
                        );
                    }
                }
                editor.getSession().setAnnotations(annotations);
            }


            $(document).ready(function() {

                var heightQuart = Math.floor((window.innerHeight - 80) / 4);

                document.getElementById('import').checked = settings.import;
                $('#theme').val(editor.getTheme());
                $('#fontSize').val(editor.getFontSize());
                if (settings.editor.keys === 'vim') {
                    $('#keybindings').val('vim');
                } else if (settings.editor.keys === 'emacs'){
                    $('#keybindings').val('emacs');
                }
                if (settings.editor.load === 'load') {
                    $('#load')[0].checked = true;
                }
                {{ if not .loaded }}
                    //console.log(settings.code);
                    //console.log(editor.getValue());
                    /*window.setTimeout(function() {
                        if (settings.code !== '' && settings.code !== undefined && settings.code !== editor.getValue()) {
                            var load = confirm("Your have previous save code. Would you like to load it?");
                            if (load == true) {
                                editor.setValue(settings.code, 1);
                            } else {
                                settings.code = '';
                                saveSettings(settings);
                            }
                        }
                    }, 500);*/

                    if (settings.code !== '' && settings.code !== undefined && settings.code !== editor.getValue()) {
                        if (settings.editor.load !== 'load') {
                            $('#loadModal').modal({backdrop: 'static', keyboard: false});

                            $('#loadYes').click(function() {
                                editor.setValue(settings.code, 1);
                                $('#loadModal').modal('hide');
                            });

                            $('#loadNo').click(function() {
                                settings.code = '';
                                saveSettings(settings);
                                $('#loadModal').modal('hide');
                            });
                        } else {
                            editor.setValue(settings.code, 1);
                        }
                    }

                {{ end }}
                $('#editor').css('height', (heightQuart * 3) + 'px');
                $('#outpre').css('height', heightQuart + 'px');

                $('#expand').click(function() {
                    $('#editor').animate({height:(heightQuart) + 'px'});
                    $('#outpre').animate({height:(heightQuart * 3) + 'px'});
                    $('#expand').addClass('hide');
                    $('#collapse').removeClass('hide');
                });

                $('#collapse').click(function() {
                    $('#editor').animate({height:(heightQuart * 3) + 'px'});
                    $('#outpre').animate({height:(heightQuart) + 'px'});
                    $('#collapse').addClass('hide');
                    $('#expand').removeClass('hide');
                });

            });

            $('#import').click(function() {
                if (this.checked) {
                    settings.import = true;
                } else {
                    settings.import = false;
                }
                saveSettings(settings);
            });

            $('#theme').change(function() {
                var theme = $('#theme').val()
                editor.setTheme(theme);
                settings['editor']['theme'] = theme;
                saveSettings(settings);
            });

            $('#fontSize').change(function() {
                var fontSize =+ $('#fontSize').val();
                editor.setFontSize(fontSize);
                settings['editor']['fontSize'] = fontSize;
                saveSettings(settings);
            });

            $('#keybindings').change(function() {
                var bind = $('#keybindings').val();
                if (bind === 'ace') {
                    editor.setKeyboardHandler("");
                } else if (bind === 'vim') {
                    editor.setKeyboardHandler("ace/keyboard/vim");
                } else {
                    editor.setKeyboardHandler("ace/keyboard/emacs");
                }
                settings['editor']['keys'] = bind;
                saveSettings(settings);
            });

            $('input[name="load"]').change(function() {
                console.log('change');
                settings['editor']['load'] = $('#load:checked').val();
                saveSettings(settings);
            });

            $('#reset').click(function() {
                settings['editor'] = {};
                saveSettings(settings);
                location.reload();
            });

            function inputChanged() {
                if ((window.location.pathname == "/")) {
                    return;
                }
                window.history.pushState(null, "", "/");
            }

            editor.on('change', function() {
                inputChanged();
            });

        </script>
    </body>
</html>
