<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/static/js/cookie.js" charset="utf-8"></script>
<script src="/static/js/main.js" charset="utf-8"></script>
